.searchtable{
    width: 100%;
    max-width: 600px;
}

.bstable-header-bold{
    font-weight: bold;
}

.twenty {
    width: 20%
}

.forty {
    width: 40%
}

.bstable{
    font-size: small;
}

.vertical-align-middle { 
    vertical-align: middle; 
}

.padding-bottom-3 {
    padding-bottom: 3px;
}
